@import "../mixins";
.card-title {
  @include title-float;
}
.home-card--title {
  @include title-middle;
}
@media (min-width: 1200px) {
  .card-title {
    top: 17px;
    h2 {
      font-size: var(--title-desktop);
      line-height: var(--title-desktop);
    }
  }
  .home-card--title h2 {
    font-size: var(--title-desktop);
    line-height: var(--title-desktop);
  }
}
