footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px 0px 20px 0px;
  a {
    font-size: 1.8rem;
    margin: 0px 45px 0px 45px;
  }
}
