@import "../mixins";

.home-section-2 {
  img {
    width: 190px;
    height: auto;
  }

  article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    max-width: 350px;
    background: var(--layout);
    border: 4px var(--blue) solid;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    @include borders;
  }
}

.home-card .home-card--img-container {
  display: grid;
  width: 100%;
  max-width: 350px;
  grid-template-columns: 190px 190px 190px 190px;
  grid-template-rows: 190px;
  justify-content: center;
  overflow: hidden;
  border-radius: 4px 4px 0px 0px;
  .loading {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    width: 100%;
    height: 190px;
    background-color: rgb(199, 199, 199);
    :nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 190px;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgb(199, 199, 199) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      animation: loadingg 1s infinite;
    }
  }
}

@keyframes loadingg {
  from {
    margin-left: 0px;
    background-color: gray;
  }
  to {
    margin-left: 570px;
    background-color: rgb(97, 97, 97);
  }
}

.home-cards--img-1 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  animation: slide-cards 5s linear infinite;
}

.home-cards--img-2 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  animation: slide-cards 5s linear infinite;
  animation-delay: 1.66666s;
}

.home-cards--img-3 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  animation: slide-cards 5s linear infinite;
  animation-delay: 3.3333333s;
}

@keyframes slide-cards {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 570px;
  }
}

.home-card p {
  font-size: var(--p-mobile);
  padding: 10px;

  span {
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .home-section-2 {
    article {
      max-width: 400px;
    }
    img {
      width: 217px;
    }
    .home-card p {
      font-size: var(--p-desktop);
    }
    .home-card--img-container {
      max-width: 400px;
      grid-template-columns: 217px 217px 217px 217px;
      grid-template-rows: 217px;
      .loading {
        height: 217px;
        :nth-child(1) {
          width: 217px;
        }
      }
    }
  }
  @keyframes slide-cards {
    from {
      margin-left: 0px;
    }

    to {
      margin-left: 651px;
    }
  }
}
