@import "../global/vars";
.portada {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  a {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 4rem;
    color: $green;
    background-color: $background-black;
    width: 50px;
    height: 50px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 0.8rem;
    transform: all 0.5s;
    animation: opacity 2s;
    &:hover {
      transform: scale(1.1);
    }
  }

  .dev-side {
    height: 50vh;
    background-color: $green;
    @include all-centered;
    animation: disapear 1s;

    h2 {
      font-size: 3.2rem;
      color: $beich;
      animation: opacity 2s;
    }
  }
  .ph-side {
    background: linear-gradient(
      296deg,
      rgba(191, 15, 30, 1) 0%,
      rgba(0, 139, 185, 1) 100%
    );
    animation: disapear 1s;
    height: 50vh;
    @include all-centered;
    h2 {
      font-size: 3.2rem;
      color: white;
      animation: opacity 2s;
    }
    a {
      background-color: red;
      color: white;
      animation: opacity 2s;
    }
  }
}

@keyframes disapear {
  0% {
    height: 0vh;
  }
  100% {
    height: 50vh;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
