:root {
  --layout: linear-gradient(
    296deg,
    rgba(191, 15, 30, 1) 0%,
    rgba(0, 139, 185, 1) 100%
  );
  --cards: #3c3838;
  --red: #bf0f1e;
  --blue: #008bb9;
  --black: #0d0d0d;
  --white: #ffffff;
  --title-mobile: 2.4rem;
  --title-desktop: 3.2rem;
  --p-mobile: 1.4rem;
  --p-desktop: 1.6rem;
}
